/*HEADER LOGO SEARCH CART*/
.header-wrap {
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 10px 15px;
}
.header-logo {
    width: 46px;
}

.header-info-res-wrap {
    align-items: center;
}
.header-logo img {
    width: 100%;
    height: 100%;
}
.header-search{
    position: relative;
    align-items: center;
    text-align: center;
    border: 1px solid #e0e0e5;
    border-radius: 8px;
    padding: 10px;
    height: 37px;
    width: 473px;
    justify-content: space-between;
    overflow: hidden;

}

i.fa-solid.fa-bars.header-info-bars {
    color: var(--main-color);
    display: none;
    font-size: 28px;
    margin-right: 10px;
}
.header-search__input{
    flex: 1;
    margin-right: 90px;
    outline: none;
    border: none;
    color: #9b9ba3;
}
.header-search__icon{
    padding: 0 10px;
    color: #9b9ba3;
}
i.fa-solid.fa-magnifying-glass.header-search-res-icon {
    font-size: 25px;
    color: var(--main-color);
    display: none;
}

.header-btn--search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 37px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    transition: 0.2 ease-in;
    cursor: pointer;
}
.header-btn--search p{
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    padding: 0 10px;
    align-items: center;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);

}
.header-btn--search:hover{
    background-color: #cee1ff;
    height: 100%;
}
.header-info{
    display: flex;
}
.header-info__list{
    margin-right: 10px;
    display: inline;
}
.header-user-info{
    display: flex;
    position: relative;
}
ul.dropdown-menu.header-user-dropdown-menu {
    right: -7px;
    top: 28px;
    width: 200px;
}
ul.dropdown-menu.header-user-dropdown-menu::before {
    position: absolute;
    content: "";
    width: 76px;
    height: 10px;
    top: -11px;
    right: 0;
}
.header-user-info:hover ul.dropdown-menu.header-user-dropdown-menu {
    display: block;
}
.header-user-img {
    width: 24px;
    margin-right: 2px;
    height: 24px;
}
.header-user-img img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-info__item {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    color: var(--text-color);
}
.header-info__item:hover{
    color: var(--main-color);
}
.cart-wrap{
    width: 40px;
    position: relative;
    cursor: pointer;
}
.header-info__link{
    text-decoration: none;
    color: var(--text-color);
}
.header-cart__icon{
    color: var(--main-color);
}

.header-cart__number{
    align-items: center;
    width: 14px;
    top: -6px;
    width: 14px;
    font-size: 10px;
    height: 13px;
    align-items: center;
    left: 11px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    background-color: red;
}
.header-hint{
    height: 45px;
    line-height: 45px;
}
.header-hint-wrap {
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
}
.header-hint-list{
    flex: 1;
    text-align: center;
}
.header-hint-item {
    display: inline;
    margin-right: 5px;
}
.header-address span{
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}
.header-notification {
    width: 100%;
    height: 40px;
    background-color: #ffe880;
    line-height: 40px;
    text-align: center;

    
}
.header-noti-text {
    font-size: 14px;
}
.header-noti-important{
    font-size: 18px;
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
}
.header-noti-icon{
    color: var(--text-color);
    font-size: 13px;
}