*{
    /*reset default setting css*/
    padding: 0;
    margin: 0;
    --text-color:#808089;
    --main-color:#0A68FF;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*HEADER LOGO SEARCH CART*/
.header-wrap {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;

    align-items: center;
    align-items: center;
    padding: 10px 15px;
}
.header-logo{
    width: 57px;
}
.header-logo img {
    width: 100%;
    height: 100%;
}

.header-search{
    position: relative;
    align-items: center;
    text-align: center;
    border: 1px solid #e0e0e5;
        border-radius: 8px;
    padding: 10px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}
/* .header-search__input{
    flex: 1;
    outline: none;
    border: none;
} */

.header-search__input{
    flex: 1;
    margin-right: 70px;
    outline: none;
    border: none;
    color: #9b9ba3;
}
.header-search__icon{
    padding: 0 10px;
    color: #9b9ba3;
}
.header-btn--search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    transition: 0.2 ease-in;
    cursor: pointer;
}
.header-btn--search p{
    border-left: 1px solid #9b9ba3;
    padding: 0 10px;

}
.header-btn--search:hover{
    background-color: #cee1ff;
    height: 100%;
}
/*
.header-search__icon{
    position: absolute;
    left: 14px;
    top: 6px;
    color: rgb(77, 78, 81);
}
.header-search__input{
    height: 30px;
    width: 600px;
    border: 1px solid rgba(77, 78, 81, 0.2);
    border-radius: 5px;
    align-items: center;
    padding-left: 40px;
    outline: none;
}
.header-btn--search{
    position: absolute;
    right: 75px;
    top: 2px;
    width: 90px;
    text-align: center;
    align-items: center;
    height: 90%;
    background-color: #fff;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: rgba(77, 78, 81, 0.2);
    color: var(--main-color);
    transition: 0.2s linear;
}
.header-btn--search:hover{
    color: #cee1ff;
    cursor: pointer;
}


*/
.header-user{
    display: flex;
}
.header-user__list{
    margin-right: 10px;
    display: inline;
}
.header-user__item {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    color: var(--text-color);
}
.cart-wrap{
    width: 40px;
    position: relative;
    cursor: pointer;
}
.header-user__link{
    text-decoration: none;
    color: var(--text-color);
}
.header-cart__icon{
    color: var(--main-color);
}

.header-cart__number{
    align-items: center;
    width: 14px;
    top: -6px;
    width: 14px;
    font-size: 10px;
    height: 13px;
    align-items: center;
    left: 11px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    background-color: red;
}

.header-notification {
    width: 100%;
    height: 40px;
    background-color: #ffe800;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-noti-important{
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
}

/*Content*/
.content{
    background-color: #f5f5fa;
}
.content-wrap{
    display: flex;
}
.content-category{
    margin-left: 15px;
    width: 20%;    
    padding: 20px 0px;
    height: fit-content;

}
.content-category__item{
    list-style-type: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s linear;
    display: flex;
}
.content-category__item:hover{
    background-color: #e6e6e6;   
    cursor: pointer;
}
.category-list-wrap{
    margin-bottom: 20px;
}
.content-category__list{
    padding: 15px;
    background-color: #fff;
    height: fit-content;
    border-radius: 10px;

    
}
.content-category__list h2{
    padding-left: 10px;
}
.content-category__link{
    color: #333;
    text-decoration: none;
}
.content-banner{
    width: 100%;
    padding: 20px;
}
.content-banner img{
    width: 100%;
    border-radius: 10px;
}

/*product section*/
.content-product{
    width: 80%;
}
.content-product-section {
    padding: 10px 20px;
}
.product-section-top{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    align-items: center;
}
.product-section-top p{
    margin-right: 10px;
    font-weight: 500;
}
.btn-sort,.btn-price{
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
    margin-right: 10px;
}
.btn-sort{
    width: 100px;
}
.btn-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 200px;
}
.btn--active{
    background-color: var(--main-color);
    color: #fff;
}

/*product box*/
.product-box-wrap{
    display: flex;
    flex-wrap: wrap;
}
.product-box{
    /*pc*/
    flex-basis: 20%;
    padding: 0 5px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.box-product-wrap{
    background-color: #fff;
}
.product-box-content-wrap{
    padding: 10px;
    border-radius: 5px;

}
.product-img{
   
    padding-top: 100%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-name{
    margin-top: 10px;
    font-size: 17px;
    color: #333;
}
.product-rating{
    display: flex;
    align-items: baseline;
    color: var(--text-color);
    font-size: 14px;
}
.product-star{
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.product-star::after{
    content: "";
    width: 1px;
    height: 10px;
    background: var(--text-color);
    right: 1px;
    top: 3px;
    font-weight: 400;
    position: absolute;
}
.product-star__icon{
    color: #ffe800;
    font-size: 10px;
}

.product-price{
    display: flex;
    align-items: baseline;
}
.product-price--after-discount{
    margin-right: 10px;
    color: red;
    font-weight: 600;
}
.product-discount{
    color: red;
    font-weight: 600;
    font-size: 12px;
}
.product-transport{
    margin-top: 26px;
    color: var(--text-color);
    position: relative;
}
.product-transport::before{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: -8px;
    border-top: 1px solid var(--text-color);
}


/*BUTTON SEE MORE*/
.btn--see-more {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}
.btn-seemore span{
    display: block;
    padding: 10px 70px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: 0.3s ease-in;
    color: var(--main-color);
    cursor: pointer;
}
.btn-seemore span:hover{
    background-color: #cee1ff;
}