/*Mobile & small Tablet*/
@media (max-width:739px){
    .hide-on-mobile-small-tablet{
        display: none!important;
    }
    .display-on-mobile-small-tablet{
        display: block!important;
    }
    .header-search__input {
        margin-right: 90px;

    }
    .product-box{
        margin-bottom: 20px;
    }

    .product-rating {
        font-size: 12px;
    }
}

/*Tablet*/ 
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none!important;
    }
    .display-on-tablet{
        display: block!important;
    }
    .header-hint-wrap{
        padding: 0;
        font-size: 11px;
    }
    .header-search{
        width: 360px;
    }
    .product-box-content-wrap {
        padding: 9px;
    }
    .dropdown-menu {
        right: 0;
    }
}

/*small phones*/
@media (max-width:570px){
    .display-on-small-phone{
        display: block!important;
    }
    .product-box{
        width: 100%;
    }
    .dropdown-menu {
        right: 0;
    }
    .footer-col{
        width: 100%;
    }
}

/*IPAD PRO*/
@media (min-width:1024px) and (max-width:1200px){
    .product-box {
        width: 33.33%;
        flex: 0 0 auto;
    }
}

@media (min-width:992px) and (max-width:1023px){

    .content-product{
        width: 100%;
    }
}